# Movie Recommendation System

In this project, I will build a movie recommendation system based on a MovieLens archival dataset.

I will compare a system based on User to User Collaborative Filtering with Hamming Distance vs another system that uses Latent Factor Analysis for Collaborative Based Filtering and see if the movies recommended to a random active user are the same for both algorithms.



**About The Data Set:**
 
This data set consists of:
	- 100,000 ratings (1-5) from 943 users on 1682 movies. 
	- Each user has rated at least 20 movies. 
    - Simple demographic info for the users (age, gender, occupation, zip)

The data was collected through the MovieLens web site
(movielens.umn.edu) during the seven-month period from September 19th, 
1997 through April 22nd, 1998. This data has been cleaned up - users
who had less than 20 ratings or did not have complete demographic
information were removed from this data set. 


**DETAILED DESCRIPTIONS OF DATA FILES**

```
ml-data.tar.gz   -- Compressed tar file.  To rebuild the u data files do this:
                gunzip ml-data.tar.gz
                tar xvf ml-data.tar
                mku.sh

u.data     -- The full u data set, 100000 ratings by 943 users on 1682 items.
              Each user has rated at least 20 movies.  Users and items are
              numbered consecutively from 1.  The data is randomly
              ordered. This is a tab separated list of 
	         user id | item id | rating | timestamp. 
              The time stamps are unix seconds since 1/1/1970 UTC   

u.info     -- The number of users, items, and ratings in the u data set.

u.item     -- Information about the items (movies); this is a tab separated
              list of
              movie id | movie title | release date | video release date |
              IMDb URL | unknown | Action | Adventure | Animation |
              Children's | Comedy | Crime | Documentary | Drama | Fantasy |
              Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |
              Thriller | War | Western |
              The last 19 fields are the genres, a 1 indicates the movie
              is of that genre, a 0 indicates it is not; movies can be in
              several genres at once.
              The movie ids are the ones used in the u.data data set.

u.genre    -- A list of the genres.

u.user     -- Demographic information about the users; this is a tab
              separated list of
              user id | age | gender | occupation | zip code
              The user ids are the ones used in the u.data data set.

u.occupation -- A list of the occupations.

u1.base    -- The data sets u1.base and u1.test through u5.base and u5.test
u1.test       are 80%/20% splits of the u data into training and test data.
u2.base       Each of u1, ..., u5 have disjoint test sets; this if for
u2.test       5 fold cross validation (where you repeat your experiment
u3.base       with each training and test set and average the results).
u3.test       These data sets can be generated from u.data by mku.sh.
u4.base
u4.test
u5.base
u5.test

ua.base    -- The data sets ua.base, ua.test, ub.base, and ub.test
ua.test       split the u data into a training set and a test set with
ub.base       exactly 10 ratings per user in the test set.  The sets
ub.test       ua.test and ub.test are disjoint.  These data sets can
              be generated from u.data by mku.sh.

allbut.pl  -- The script that generates training and test sets where
              all but n of a users ratings are in the training data.

mku.sh     -- A shell script to generate all the u data sets from u.data.
```

In [1]:
# Common Imports:
import pandas as pd
import numpy as np
import os

# allowing for any single variable to print out without using the print statement:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# import data:

dataFile='./data/ml-100k/u.data'
data = pd.read_csv(dataFile, sep="\t", header=0, names=["user_id","movie_id","rating", "timestamp"])

movieFile='./data/ml-100k/u.item'
movies = pd.read_csv(movieFile, sep="|", encoding='Latin-1', header=0, names=['movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'Unknown', 'Action', 'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'])

In [3]:
data.head()
movies.head()

   user_id  movie_id  rating  timestamp
0      186       302       3  891717742
1       22       377       1  878887116
2      244        51       2  880606923
3      166       346       1  886397596
4      298       474       4  884182806

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,Unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data.shape
movies.shape

(99999, 4)

(1681, 24)

In [5]:
# Data Cleaning - only retain values from movie-rating that actually have movie meta data
data = data[data["movie_id"].isin(movies.movie_id)]

In [6]:
data.shape

(99547, 4)

In [7]:
# Find the number of Movies each user has rated
MoviesPerUser = data.user_id.value_counts()
# Find the number of users who have rated a particular movie. 
UsersPerMovie = data.movie_id.value_counts()

MoviesPerUser
UsersPerMovie

405    737
655    684
13     635
450    539
276    517
416    492
537    489
303    483
234    479
393    447
181    434
279    433
429    413
846    405
7      403
94     399
682    398
308    396
92     387
293    387
222    386
201    385
59     381
435    378
378    374
880    367
417    364
896    361
592    359
758    357
      ...
631     20
873     20
809     20
231     20
166     20
740     20
36      20
866     20
418     20
143     20
824     20
888     20
926     20
685     20
558     20
732     20
475     20
571     20
596     20
252     20
147     20
19      20
572     20
364     20
242     19
202     19
441     19
93      19
636     19
895     19
Name: user_id, Length: 943, dtype: int64

50      583
258     509
100     508
181     507
294     485
286     481
288     478
300     431
121     429
174     420
127     413
56      394
7       392
98      390
237     384
117     378
172     367
222     365
204     350
313     350
405     344
79      336
210     331
151     326
173     324
69      321
168     316
748     316
269     315
257     303
       ...
1653      1
857       1
1587      1
1651      1
1624      1
1559      1
1460      1
599       1
1494      1
1366      1
1621      1
1557      1
1493      1
1461      1
1492      1
1655      1
1364      1
1236      1
852       1
1619      1
1363      1
1235      1
1526      1
1654      1
1682      1
1618      1
1681      1
1680      1
1616      1
1663      1
Name: movie_id, Length: 1681, dtype: int64

In [8]:
# More Data Cleaning
# Drop movies that dont have too many ratings
# lets only keep movies which have been rated by more than 10 users

data.shape
condition = data['movie_id'].isin(UsersPerMovie[UsersPerMovie > 10].index)
data = data[condition]
data.shape

(99547, 4)

(97170, 4)

#### These steps are to get the data out to CSV files for GOOGLE BIG QUERY:

In [10]:
data.head()
data.shape
movies.head()
movies.shape

   user_id  movie_id  rating  timestamp
0      186       302       3  891717742
1       22       377       1  878887116
2      244        51       2  880606923
3      166       346       1  886397596
4      298       474       4  884182806

(97170, 4)

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,Unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

(1681, 24)

In [11]:
# convert data timestamp to datetime:
data['timestamp'] = pd.to_datetime(data['timestamp'], unit='s')

In [13]:
# convert movie release_date to datetime:
movies['release_date'] = pd.to_datetime(movies['release_date'])

In [22]:
# drop video_release_date:
movies = movies.drop(columns=['video_release_date'])

In [24]:
#### EXPORT TO CSV:
movies.to_csv(path_or_buf="data/movies.csv", index=False)
data.to_csv(path_or_buf="data/data.csv", index=False)

## User to User Collaborative Filtering with Hamming Distance for Recommendation Systems:

In [10]:
# Now lets create the user-item-rating matrix using a pivot table function:

userItemRatingMatrix=pd.pivot_table(data, values='rating',
                                    index=['user_id'], columns=['movie_id'])
userItemRatingMatrix.head()

movie_id,2,3,4,5,6,7,8,9,10,11,...,1421,1428,1444,1446,1451,1469,1478,1480,1483,1518
user_id,,,,,,,,,,,,,,,,,,,,,
1,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
userItemRatingMatrix.shape

(943, 1118)

Now, we have our user-item rating matrix. We have 943 users and 1,118 movies. Recall, we started off with 1,682 movies, but we whittled down the movie list to 1,118 by removing movies that had less than 10 reviews. 

Let's now write a function to compute k nearest neighbours of an arbitrary active user using hamming distance. This will be the K number of closest people who are similar to this active user; we can use their highest rated viewed movies to recommend to the "Active User. We will be using the hamming distance to find distances between users.

In [12]:
from scipy.spatial.distance import hamming

In [13]:
# To Find the k nearest neighbours of this active user first find the distance of active user to all other users
def nearestneighbours(user,K):
    # create a user df that contains all users except active user (we want to remove the active user so we don't recommend your own things to yourself)
    allUsers = pd.DataFrame(userItemRatingMatrix.index)
    allUsers = allUsers[allUsers.user_id != user]
    
    # Add a column to this df which contains distance of active user to each user
    allUsers["distance"] = allUsers["user_id"].apply(lambda x: hamming(userItemRatingMatrix.loc[user], userItemRatingMatrix.loc[x]))
    # print(allUsers.sort_values(["distance"],ascending=True).head()) # debug
    
    # sort the values of all users based on the distance metric, and will return the top K user ids - we want the closest number of users
    KnearestUsers = allUsers.sort_values(["distance"],ascending=True)["user_id"][:K]
    return KnearestUsers

In [14]:
# Lets test the function - Find the 5 nearest neighbours of the active user 523
print(nearestneighbours(523, 5))

710    711
150    151
449    450
415    416
17      18
Name: user_id, dtype: int64

**NOW WE KNOW WHAT THE NEAREST NEIGHBORS, WE WANT TO SEE WHAT THEY READ AND RECOMMEND THE TOP "N" MOVIES TO THAT USER**

In [15]:
def topN(user, userItemRatingMatrix, N=3):
    '''given a user_ID, it returns the top N number of movie recommendations by movie_id'''
    
    # find the 10 neighbors nearest to that user
    KnearestUsers = nearestneighbours(user,10)
    
    # get the ratings given by nearest neighbours. Note the userIemRatingMatrix index is the user_id
    NNRatings = userItemRatingMatrix[userItemRatingMatrix.index.isin(KnearestUsers)]
    
    # Find the average rating of each movie rated by nearest neighbours.
        # np.nanmean - Computes the arithmetic mean along the specified axis, ignoring NaNs.
        # then, we're dropping movies that don't have ratings / dropping na's
    avgRating = NNRatings.apply(np.nanmean).dropna()
    
    # drop the movies already seen by active user
    moviesAlreadyWatched = userItemRatingMatrix.loc[user].dropna().index
    avgRating = avgRating[~avgRating.index.isin(moviesAlreadyWatched)]
    topMovies = avgRating.sort_values(ascending=False).index[:N]
    return topMovies

**Let's test our final function "topN" for a random user and see the top recommendations:**

In [16]:
'Top 5 movies recommended to user 523 using User to User Collaborative Filtering with Hamming Distance'
for index in topN(523, userItemRatingMatrix, 5):
    print("Movie: ", movies.at[index, "movie_title"])

'Top 5 movies recommended to user 523 using User to User Collaborative Filtering with Hamming Distance'

Movie:  Tango Lesson, The (1997)
Movie:  Naked (1993)
Movie:  Once Were Warriors (1994)
Movie:  Supercop (1992)
Movie:  Caught (1996)

C:\Users\danie\Anaconda3\lib\site-packages\pandas\core\apply.py:242: RuntimeWarning: Mean of empty slice
  labels=labels)

# Collaborative Based Filtering using Latent Factor Analysis

There are many latent features in the user's rating matrix. There are many known and unknown things from a rating matrix for a specific user (R) - we can use a rating matrix and factorize that into two matrices (P and Q) and fill in the features using stochastic gradient descent. After that, we can then multiply those two matrices full of features together to get a predicted user-item rating matrix and recommend / predict the highest rated movies that the user has not seen.

In [17]:
# instead of storing the UserItemRating Matrix in a PIVOT TABLE, we are STORING IT AS A COO MATRIX in this instance:
    # It's a more efficient way to store the sparse matrix. Instead of having so many null values. Why not create a new matrix with just the values that are relevant and exactly what point they're at. It's a COO Matrix - stands for coordinate matrix.
    # The keys are the row, column index and the value is the rating!
from scipy.sparse import coo_matrix

In [18]:
# make a copy of our data before modifying it:
data_lfa = data.copy()

# need to change the user and books to categorical data.
data_lfa['user_id'] = data_lfa['user_id'].astype("category")
data_lfa['movie_id'] = data_lfa['movie_id'].astype("category")

In [19]:
# then, create the COO Matrix using those categories. It creates plot points on the original matrix for user_id and movie_id that point to the specific rating value. It is created in order to store the useritemrating matrix in smaller memory - to store a sparse matrix efficiently. 
    # rows are user_id
    # columnes are movie_id
    # it assigns categorical codes in ascending order to the user and movie IDs
R = coo_matrix((data_lfa['rating'].astype(float),
                       (data_lfa['user_id'].cat.codes,
                        data_lfa['movie_id'].cat.codes)))

**Exploring our COO Matrix**

In [20]:
# exploring our COO matrix at position 7:
R.shape
R.data[7] # our 7th rating
R.row[7] # user_id coordinate for this rating
R.col[7] # movie_id coordinate for this rating

(943, 1118)

3.0

304

428

In [21]:
# that 304 is the mapping of the user created by the .cat.code -- here we are printing out WHAT USER that belongs to:
data_lfa[data_lfa.user_id.cat.codes==304].head()

    user_id movie_id  rating  timestamp
7       305      451       3  886324817
146     305      427       5  886323090
172     305      117       2  886324028
214     305      471       4  886323648
236     305      214       2  886323068

In [22]:
'What were all the ratings that user 305 gave?'
R.data[R.row == 304]

'What is the average rating that he gave for all his/her movies?'
np.nanmean(R.data[R.row == 304])

'How many movies did user 305 rate?'
len(R.data[R.row==304])

'What were all the ratings that user 305 gave?'

array([3., 5., 2., 4., 2., 4., 3., 4., 4., 5., 3., 1., 5., 5., 4., 4., 1.,
       5., 5., 4., 3., 4., 1., 1., 3., 5., 3., 1., 3., 5., 4., 2., 4., 3.,
       3., 5., 3., 2., 1., 3., 4., 4., 3., 3., 4., 2., 4., 3., 2., 5., 5.,
       2., 4., 1., 3., 4., 3., 4., 3., 4., 4., 2., 2., 4., 2., 3., 3., 1.,
       5., 3., 5., 3., 3., 3., 3., 4., 3., 4., 4., 3., 4., 5., 5., 3., 4.,
       4., 3., 3., 3., 4., 4., 5., 5., 2., 4., 4., 3., 4., 5., 4., 4., 3.,
       3., 4., 3., 2., 4., 3., 1., 3., 3., 4., 3., 5., 3., 4., 4., 3., 4.,
       4., 3., 4., 2., 4., 1., 4., 5., 4., 2., 3., 5., 4., 4., 3., 3., 3.,
       3., 2., 5., 2., 4., 5., 1., 3., 3., 4., 4., 3., 5., 3., 2., 2., 4.,
       4., 3., 3., 3., 5., 4., 4., 3., 3., 5., 5., 2., 3., 4., 3., 5., 4.,
       2., 5., 2., 2., 4., 4., 5., 4., 2., 3., 4., 3., 5., 2., 3., 2., 4.,
       4., 3., 3., 3., 3., 3., 5., 3., 2., 3., 2., 3., 3., 3., 4., 5., 3.,
       2., 5., 2., 3., 5., 5., 4., 3., 3., 3., 5.])

'What is the average rating that he gave for all his/her movies?'

3.4

'How many movies did user 305 rate?'

215

In [23]:
# this enumerate function will tell us the mappings for which category code belong with which user and which category codes belong with which movies:

dict(enumerate(data_lfa['movie_id'].cat.categories))
dict(enumerate(data_lfa['user_id'].cat.categories))

{0: 2,
 1: 3,
 2: 4,
 3: 5,
 4: 6,
 5: 7,
 6: 8,
 7: 9,
 8: 10,
 9: 11,
 10: 12,
 11: 13,
 12: 14,
 13: 15,
 14: 16,
 15: 17,
 16: 19,
 17: 20,
 18: 21,
 19: 22,
 20: 23,
 21: 24,
 22: 25,
 23: 26,
 24: 27,
 25: 28,
 26: 29,
 27: 30,
 28: 31,
 29: 32,
 30: 33,
 31: 35,
 32: 36,
 33: 38,
 34: 39,
 35: 40,
 36: 41,
 37: 42,
 38: 43,
 39: 44,
 40: 45,
 41: 46,
 42: 47,
 43: 48,
 44: 49,
 45: 50,
 46: 51,
 47: 52,
 48: 53,
 49: 54,
 50: 55,
 51: 56,
 52: 57,
 53: 58,
 54: 59,
 55: 60,
 56: 61,
 57: 62,
 58: 63,
 59: 64,
 60: 65,
 61: 66,
 62: 67,
 63: 68,
 64: 69,
 65: 70,
 66: 71,
 67: 72,
 68: 73,
 69: 76,
 70: 77,
 71: 78,
 72: 79,
 73: 80,
 74: 81,
 75: 82,
 76: 83,
 77: 84,
 78: 85,
 79: 86,
 80: 87,
 81: 88,
 82: 89,
 83: 90,
 84: 91,
 85: 92,
 86: 93,
 87: 94,
 88: 95,
 89: 96,
 90: 97,
 91: 98,
 92: 99,
 93: 100,
 94: 101,
 95: 102,
 96: 103,
 97: 105,
 98: 106,
 99: 107,
 100: 108,
 101: 109,
 102: 110,
 103: 111,
 104: 112,
 105: 114,
 106: 115,
 107: 116,
 108: 117,
 109: 118,
 110: 120,
 111: 121,
 112: 122,
 113: 123,
 114: 124,
 115: 125,
 116: 126,
 117: 127,
 118: 128,
 119: 129,
 120: 130,
 121: 131,
 122: 132,
 123: 133,
 124: 134,
 125: 135,
 126: 136,
 127: 137,
 128: 138,
 129: 139,
 130: 140,
 131: 141,
 132: 142,
 133: 143,
 134: 144,
 135: 145,
 136: 147,
 137: 148,
 138: 149,
 139: 150,
 140: 151,
 141: 152,
 142: 153,
 143: 154,
 144: 155,
 145: 156,
 146: 157,
 147: 158,
 148: 159,
 149: 160,
 150: 161,
 151: 162,
 152: 163,
 153: 164,
 154: 165,
 155: 166,
 156: 167,
 157: 168,
 158: 169,
 159: 170,
 160: 171,
 161: 172,
 162: 173,
 163: 174,
 164: 175,
 165: 176,
 166: 177,
 167: 178,
 168: 179,
 169: 180,
 170: 181,
 171: 182,
 172: 183,
 173: 184,
 174: 185,
 175: 186,
 176: 187,
 177: 188,
 178: 189,
 179: 190,
 180: 191,
 181: 192,
 182: 193,
 183: 194,
 184: 195,
 185: 196,
 186: 197,
 187: 198,
 188: 199,
 189: 200,
 190: 201,
 191: 202,
 192: 203,
 193: 204,
 194: 205,
 195: 206,
 196: 207,
 197: 208,
 198: 209,
 199: 210,
 200: 211,
 201: 212,
 202: 213,
 203: 214,
 204: 215,
 205: 216,
 206: 217,
 207: 218,
 208: 219,
 209: 220,
 210: 221,
 211: 222,
 212: 223,
 213: 224,
 214: 225,
 215: 226,
 216: 227,
 217: 228,
 218: 229,
 219: 230,
 220: 231,
 221: 232,
 222: 233,
 223: 234,
 224: 235,
 225: 236,
 226: 237,
 227: 238,
 228: 239,
 229: 240,
 230: 241,
 231: 242,
 232: 243,
 233: 244,
 234: 245,
 235: 246,
 236: 248,
 237: 249,
 238: 250,
 239: 251,
 240: 252,
 241: 253,
 242: 254,
 243: 255,
 244: 256,
 245: 257,
 246: 258,
 247: 259,
 248: 260,
 249: 261,
 250: 262,
 251: 263,
 252: 264,
 253: 265,
 254: 266,
 255: 268,
 256: 269,
 257: 270,
 258: 271,
 259: 272,
 260: 273,
 261: 274,
 262: 275,
 263: 276,
 264: 277,
 265: 278,
 266: 279,
 267: 280,
 268: 281,
 269: 282,
 270: 283,
 271: 284,
 272: 285,
 273: 286,
 274: 287,
 275: 288,
 276: 289,
 277: 290,
 278: 291,
 279: 292,
 280: 293,
 281: 294,
 282: 295,
 283: 297,
 284: 298,
 285: 299,
 286: 300,
 287: 301,
 288: 302,
 289: 303,
 290: 304,
 291: 305,
 292: 306,
 293: 307,
 294: 308,
 295: 309,
 296: 310,
 297: 311,
 298: 312,
 299: 313,
 300: 315,
 301: 316,
 302: 317,
 303: 318,
 304: 319,
 305: 320,
 306: 321,
 307: 322,
 308: 323,
 309: 324,
 310: 325,
 311: 326,
 312: 327,
 313: 328,
 314: 329,
 315: 330,
 316: 331,
 317: 332,
 318: 333,
 319: 334,
 320: 335,
 321: 336,
 322: 337,
 323: 338,
 324: 339,
 325: 340,
 326: 341,
 327: 342,
 328: 343,
 329: 344,
 330: 345,
 331: 346,
 332: 347,
 333: 348,
 334: 349,
 335: 350,
 336: 351,
 337: 352,
 338: 353,
 339: 354,
 340: 355,
 341: 356,
 342: 357,
 343: 358,
 344: 359,
 345: 362,
 346: 363,
 347: 364,
 348: 365,
 349: 366,
 350: 367,
 351: 368,
 352: 369,
 353: 370,
 354: 371,
 355: 372,
 356: 373,
 357: 374,
 358: 375,
 359: 376,
 360: 377,
 361: 378,
 362: 379,
 363: 380,
 364: 381,
 365: 382,
 366: 383,
 367: 384,
 368: 385,
 369: 386,
 370: 387,
 371: 388,
 372: 389,
 373: 391,
 374: 392,
 375: 393,
 376: 394,
 377: 395,
 378: 396,
 379: 397,
 380: 398,
 381: 399,
 382: 400,
 383: 401,
 384: 402,
 385: 403,
 386: 404,
 387: 405,
 388: 406,
 389: 407,
 390: 408,
 391: 409,
 392: 410,
 393: 411,
 394: 412,
 395: 413,
 396: 414,
 397: 415,
 398: 416,
 399: 417,
 400: 418,
 401: 419,
 402: 420,
 403: 421,
 404: 422,
 405: 423,
 406: 424,
 407: 425,
 408: 426,
 409: 427,
 410: 428,
 411: 429,
 412: 430,
 413: 431,
 414: 432,
 415: 433,
 416: 434,
 417: 435,
 418: 436,
 419: 440,
 420: 441,
 421: 443,
 422: 444,
 423: 445,
 424: 447,
 425: 448,
 426: 449,
 427: 450,
 428: 451,
 429: 452,
 430: 453,
 431: 454,
 432: 455,
 433: 456,
 434: 457,
 435: 458,
 436: 459,
 437: 460,
 438: 461,
 439: 462,
 440: 463,
 441: 464,
 442: 465,
 443: 466,
 444: 467,
 445: 468,
 446: 469,
 447: 470,
 448: 471,
 449: 472,
 450: 473,
 451: 474,
 452: 475,
 453: 476,
 454: 477,
 455: 478,
 456: 479,
 457: 480,
 458: 481,
 459: 482,
 460: 483,
 461: 484,
 462: 485,
 463: 486,
 464: 487,
 465: 488,
 466: 489,
 467: 490,
 468: 491,
 469: 492,
 470: 493,
 471: 494,
 472: 495,
 473: 496,
 474: 497,
 475: 498,
 476: 499,
 477: 500,
 478: 501,
 479: 502,
 480: 503,
 481: 504,
 482: 505,
 483: 506,
 484: 507,
 485: 508,
 486: 509,
 487: 510,
 488: 511,
 489: 512,
 490: 513,
 491: 514,
 492: 515,
 493: 516,
 494: 517,
 495: 518,
 496: 519,
 497: 520,
 498: 521,
 499: 522,
 500: 523,
 501: 524,
 502: 525,
 503: 526,
 504: 527,
 505: 528,
 506: 529,
 507: 530,
 508: 531,
 509: 532,
 510: 533,
 511: 534,
 512: 535,
 513: 537,
 514: 538,
 515: 539,
 516: 540,
 517: 541,
 518: 542,
 519: 543,
 520: 544,
 521: 545,
 522: 546,
 523: 547,
 524: 548,
 525: 549,
 526: 550,
 527: 551,
 528: 552,
 529: 553,
 530: 554,
 531: 556,
 532: 557,
 533: 558,
 534: 559,
 535: 560,
 536: 561,
 537: 562,
 538: 563,
 539: 564,
 540: 565,
 541: 566,
 542: 567,
 543: 568,
 544: 569,
 545: 570,
 546: 571,
 547: 572,
 548: 573,
 549: 574,
 550: 575,
 551: 576,
 552: 577,
 553: 578,
 554: 579,
 555: 580,
 556: 581,
 557: 582,
 558: 583,
 559: 584,
 560: 585,
 561: 586,
 562: 587,
 563: 588,
 564: 589,
 565: 590,
 566: 591,
 567: 593,
 568: 595,
 569: 596,
 570: 597,
 571: 601,
 572: 602,
 573: 603,
 574: 604,
 575: 605,
 576: 606,
 577: 607,
 578: 608,
 579: 609,
 580: 610,
 581: 611,
 582: 612,
 583: 613,
 584: 614,
 585: 615,
 586: 616,
 587: 617,
 588: 618,
 589: 619,
 590: 620,
 591: 621,
 592: 622,
 593: 623,
 594: 624,
 595: 625,
 596: 627,
 597: 628,
 598: 629,
 599: 630,
 600: 631,
 601: 632,
 602: 633,
 603: 634,
 604: 635,
 605: 636,
 606: 637,
 607: 638,
 608: 639,
 609: 640,
 610: 641,
 611: 642,
 612: 644,
 613: 645,
 614: 646,
 615: 647,
 616: 648,
 617: 649,
 618: 650,
 619: 651,
 620: 652,
 621: 653,
 622: 654,
 623: 655,
 624: 656,
 625: 657,
 626: 658,
 627: 659,
 628: 660,
 629: 661,
 630: 662,
 631: 663,
 632: 664,
 633: 665,
 634: 667,
 635: 669,
 636: 670,
 637: 671,
 638: 672,
 639: 673,
 640: 674,
 641: 675,
 642: 676,
 643: 678,
 644: 679,
 645: 680,
 646: 681,
 647: 682,
 648: 683,
 649: 684,
 650: 685,
 651: 686,
 652: 687,
 653: 688,
 654: 689,
 655: 690,
 656: 691,
 657: 692,
 658: 693,
 659: 694,
 660: 695,
 661: 696,
 662: 697,
 663: 699,
 664: 700,
 665: 702,
 666: 703,
 667: 704,
 668: 705,
 669: 707,
 670: 708,
 671: 709,
 672: 710,
 673: 712,
 674: 713,
 675: 714,
 676: 715,
 677: 716,
 678: 717,
 679: 718,
 680: 719,
 681: 720,
 682: 721,
 683: 722,
 684: 723,
 685: 724,
 686: 725,
 687: 726,
 688: 727,
 689: 728,
 690: 729,
 691: 730,
 692: 731,
 693: 732,
 694: 733,
 695: 734,
 696: 735,
 697: 736,
 698: 737,
 699: 738,
 700: 739,
 701: 740,
 702: 741,
 703: 742,
 704: 743,
 705: 744,
 706: 745,
 707: 746,
 708: 747,
 709: 748,
 710: 749,
 711: 750,
 712: 751,
 713: 752,
 714: 753,
 715: 754,
 716: 755,
 717: 756,
 718: 758,
 719: 759,
 720: 760,
 721: 761,
 722: 762,
 723: 763,
 724: 764,
 725: 765,
 726: 767,
 727: 768,
 728: 769,
 729: 770,
 730: 771,
 731: 772,
 732: 773,
 733: 774,
 734: 775,
 735: 778,
 736: 779,
 737: 780,
 738: 781,
 739: 783,
 740: 785,
 741: 786,
 742: 787,
 743: 789,
 744: 790,
 745: 792,
 746: 794,
 747: 795,
 748: 796,
 749: 797,
 750: 800,
 751: 801,
 752: 802,
 753: 805,
 754: 806,
 755: 808,
 756: 809,
 757: 810,
 758: 811,
 759: 812,
 760: 813,
 761: 815,
 762: 816,
 763: 818,
 764: 819,
 765: 820,
 766: 821,
 767: 823,
 768: 824,
 769: 825,
 770: 826,
 771: 827,
 772: 828,
 773: 829,
 774: 831,
 775: 832,
 776: 833,
 777: 834,
 778: 835,
 779: 836,
 780: 837,
 781: 840,
 782: 841,
 783: 842,
 784: 843,
 785: 844,
 786: 845,
 787: 846,
 788: 847,
 789: 849,
 790: 853,
 791: 854,
 792: 855,
 793: 856,
 794: 859,
 795: 860,
 796: 862,
 797: 863,
 798: 864,
 799: 865,
 800: 866,
 801: 869,
 802: 871,
 803: 872,
 804: 873,
 805: 874,
 806: 875,
 807: 876,
 808: 877,
 809: 878,
 810: 879,
 811: 880,
 812: 881,
 813: 882,
 814: 883,
 815: 885,
 816: 886,
 817: 887,
 818: 888,
 819: 889,
 820: 890,
 821: 892,
 822: 893,
 823: 894,
 824: 895,
 825: 896,
 826: 898,
 827: 900,
 828: 901,
 829: 902,
 830: 903,
 831: 904,
 832: 905,
 833: 906,
 834: 908,
 835: 909,
 836: 914,
 837: 915,
 838: 916,
 839: 919,
 840: 921,
 841: 922,
 842: 923,
 843: 924,
 844: 925,
 845: 926,
 846: 928,
 847: 929,
 848: 930,
 849: 931,
 850: 932,
 851: 933,
 852: 934,
 853: 936,
 854: 937,
 855: 938,
 856: 939,
 857: 940,
 858: 941,
 859: 942,
 860: 943,
 861: 944,
 862: 945,
 863: 946,
 864: 947,
 865: 948,
 866: 949,
 867: 950,
 868: 951,
 869: 952,
 870: 953,
 871: 954,
 872: 955,
 873: 956,
 874: 958,
 875: 959,
 876: 960,
 877: 961,
 878: 962,
 879: 963,
 880: 965,
 881: 966,
 882: 967,
 883: 968,
 884: 969,
 885: 971,
 886: 972,
 887: 974,
 888: 975,
 889: 976,
 890: 977,
 891: 978,
 892: 979,
 893: 980,
 894: 982,
 895: 983,
 896: 984,
 897: 985,
 898: 986,
 899: 988,
 900: 989,
 901: 990,
 902: 991,
 903: 993,
 904: 995,
 905: 996,
 906: 997,
 907: 998,
 908: 1001,
 909: 1005,
 910: 1006,
 911: 1007,
 912: 1008,
 913: 1009,
 914: 1010,
 915: 1011,
 916: 1012,
 917: 1013,
 918: 1014,
 919: 1015,
 920: 1016,
 921: 1017,
 922: 1018,
 923: 1019,
 924: 1020,
 925: 1021,
 926: 1022,
 927: 1023,
 928: 1024,
 929: 1025,
 930: 1028,
 931: 1029,
 932: 1030,
 933: 1032,
 934: 1033,
 935: 1034,
 936: 1035,
 937: 1036,
 938: 1037,
 939: 1038,
 940: 1039,
 941: 1040,
 942: 1041,
 943: 1042,
 944: 1044,
 945: 1045,
 946: 1046,
 947: 1047,
 948: 1048,
 949: 1049,
 950: 1050,
 951: 1051,
 952: 1052,
 953: 1053,
 954: 1054,
 955: 1057,
 956: 1058,
 957: 1059,
 958: 1060,
 959: 1061,
 960: 1062,
 961: 1063,
 962: 1065,
 963: 1066,
 964: 1067,
 965: 1068,
 966: 1069,
 967: 1070,
 968: 1071,
 969: 1073,
 970: 1074,
 971: 1076,
 972: 1078,
 973: 1079,
 974: 1084,
 975: 1085,
 976: 1086,
 977: 1088,
 978: 1089,
 979: 1090,
 980: 1091,
 981: 1092,
 982: 1093,
 983: 1094,
 984: 1095,
 985: 1097,
 986: 1098,
 987: 1099,
 988: 1101,
 989: 1103,
 990: 1105,
 991: 1107,
 992: 1109,
 993: 1110,
 994: 1112,
 995: 1113,
 996: 1115,
 997: 1116,
 998: 1117,
 999: 1118,
 ...}

{0: 1,
 1: 2,
 2: 3,
 3: 4,
 4: 5,
 5: 6,
 6: 7,
 7: 8,
 8: 9,
 9: 10,
 10: 11,
 11: 12,
 12: 13,
 13: 14,
 14: 15,
 15: 16,
 16: 17,
 17: 18,
 18: 19,
 19: 20,
 20: 21,
 21: 22,
 22: 23,
 23: 24,
 24: 25,
 25: 26,
 26: 27,
 27: 28,
 28: 29,
 29: 30,
 30: 31,
 31: 32,
 32: 33,
 33: 34,
 34: 35,
 35: 36,
 36: 37,
 37: 38,
 38: 39,
 39: 40,
 40: 41,
 41: 42,
 42: 43,
 43: 44,
 44: 45,
 45: 46,
 46: 47,
 47: 48,
 48: 49,
 49: 50,
 50: 51,
 51: 52,
 52: 53,
 53: 54,
 54: 55,
 55: 56,
 56: 57,
 57: 58,
 58: 59,
 59: 60,
 60: 61,
 61: 62,
 62: 63,
 63: 64,
 64: 65,
 65: 66,
 66: 67,
 67: 68,
 68: 69,
 69: 70,
 70: 71,
 71: 72,
 72: 73,
 73: 74,
 74: 75,
 75: 76,
 76: 77,
 77: 78,
 78: 79,
 79: 80,
 80: 81,
 81: 82,
 82: 83,
 83: 84,
 84: 85,
 85: 86,
 86: 87,
 87: 88,
 88: 89,
 89: 90,
 90: 91,
 91: 92,
 92: 93,
 93: 94,
 94: 95,
 95: 96,
 96: 97,
 97: 98,
 98: 99,
 99: 100,
 100: 101,
 101: 102,
 102: 103,
 103: 104,
 104: 105,
 105: 106,
 106: 107,
 107: 108,
 108: 109,
 109: 110,
 110: 111,
 111: 112,
 112: 113,
 113: 114,
 114: 115,
 115: 116,
 116: 117,
 117: 118,
 118: 119,
 119: 120,
 120: 121,
 121: 122,
 122: 123,
 123: 124,
 124: 125,
 125: 126,
 126: 127,
 127: 128,
 128: 129,
 129: 130,
 130: 131,
 131: 132,
 132: 133,
 133: 134,
 134: 135,
 135: 136,
 136: 137,
 137: 138,
 138: 139,
 139: 140,
 140: 141,
 141: 142,
 142: 143,
 143: 144,
 144: 145,
 145: 146,
 146: 147,
 147: 148,
 148: 149,
 149: 150,
 150: 151,
 151: 152,
 152: 153,
 153: 154,
 154: 155,
 155: 156,
 156: 157,
 157: 158,
 158: 159,
 159: 160,
 160: 161,
 161: 162,
 162: 163,
 163: 164,
 164: 165,
 165: 166,
 166: 167,
 167: 168,
 168: 169,
 169: 170,
 170: 171,
 171: 172,
 172: 173,
 173: 174,
 174: 175,
 175: 176,
 176: 177,
 177: 178,
 178: 179,
 179: 180,
 180: 181,
 181: 182,
 182: 183,
 183: 184,
 184: 185,
 185: 186,
 186: 187,
 187: 188,
 188: 189,
 189: 190,
 190: 191,
 191: 192,
 192: 193,
 193: 194,
 194: 195,
 195: 196,
 196: 197,
 197: 198,
 198: 199,
 199: 200,
 200: 201,
 201: 202,
 202: 203,
 203: 204,
 204: 205,
 205: 206,
 206: 207,
 207: 208,
 208: 209,
 209: 210,
 210: 211,
 211: 212,
 212: 213,
 213: 214,
 214: 215,
 215: 216,
 216: 217,
 217: 218,
 218: 219,
 219: 220,
 220: 221,
 221: 222,
 222: 223,
 223: 224,
 224: 225,
 225: 226,
 226: 227,
 227: 228,
 228: 229,
 229: 230,
 230: 231,
 231: 232,
 232: 233,
 233: 234,
 234: 235,
 235: 236,
 236: 237,
 237: 238,
 238: 239,
 239: 240,
 240: 241,
 241: 242,
 242: 243,
 243: 244,
 244: 245,
 245: 246,
 246: 247,
 247: 248,
 248: 249,
 249: 250,
 250: 251,
 251: 252,
 252: 253,
 253: 254,
 254: 255,
 255: 256,
 256: 257,
 257: 258,
 258: 259,
 259: 260,
 260: 261,
 261: 262,
 262: 263,
 263: 264,
 264: 265,
 265: 266,
 266: 267,
 267: 268,
 268: 269,
 269: 270,
 270: 271,
 271: 272,
 272: 273,
 273: 274,
 274: 275,
 275: 276,
 276: 277,
 277: 278,
 278: 279,
 279: 280,
 280: 281,
 281: 282,
 282: 283,
 283: 284,
 284: 285,
 285: 286,
 286: 287,
 287: 288,
 288: 289,
 289: 290,
 290: 291,
 291: 292,
 292: 293,
 293: 294,
 294: 295,
 295: 296,
 296: 297,
 297: 298,
 298: 299,
 299: 300,
 300: 301,
 301: 302,
 302: 303,
 303: 304,
 304: 305,
 305: 306,
 306: 307,
 307: 308,
 308: 309,
 309: 310,
 310: 311,
 311: 312,
 312: 313,
 313: 314,
 314: 315,
 315: 316,
 316: 317,
 317: 318,
 318: 319,
 319: 320,
 320: 321,
 321: 322,
 322: 323,
 323: 324,
 324: 325,
 325: 326,
 326: 327,
 327: 328,
 328: 329,
 329: 330,
 330: 331,
 331: 332,
 332: 333,
 333: 334,
 334: 335,
 335: 336,
 336: 337,
 337: 338,
 338: 339,
 339: 340,
 340: 341,
 341: 342,
 342: 343,
 343: 344,
 344: 345,
 345: 346,
 346: 347,
 347: 348,
 348: 349,
 349: 350,
 350: 351,
 351: 352,
 352: 353,
 353: 354,
 354: 355,
 355: 356,
 356: 357,
 357: 358,
 358: 359,
 359: 360,
 360: 361,
 361: 362,
 362: 363,
 363: 364,
 364: 365,
 365: 366,
 366: 367,
 367: 368,
 368: 369,
 369: 370,
 370: 371,
 371: 372,
 372: 373,
 373: 374,
 374: 375,
 375: 376,
 376: 377,
 377: 378,
 378: 379,
 379: 380,
 380: 381,
 381: 382,
 382: 383,
 383: 384,
 384: 385,
 385: 386,
 386: 387,
 387: 388,
 388: 389,
 389: 390,
 390: 391,
 391: 392,
 392: 393,
 393: 394,
 394: 395,
 395: 396,
 396: 397,
 397: 398,
 398: 399,
 399: 400,
 400: 401,
 401: 402,
 402: 403,
 403: 404,
 404: 405,
 405: 406,
 406: 407,
 407: 408,
 408: 409,
 409: 410,
 410: 411,
 411: 412,
 412: 413,
 413: 414,
 414: 415,
 415: 416,
 416: 417,
 417: 418,
 418: 419,
 419: 420,
 420: 421,
 421: 422,
 422: 423,
 423: 424,
 424: 425,
 425: 426,
 426: 427,
 427: 428,
 428: 429,
 429: 430,
 430: 431,
 431: 432,
 432: 433,
 433: 434,
 434: 435,
 435: 436,
 436: 437,
 437: 438,
 438: 439,
 439: 440,
 440: 441,
 441: 442,
 442: 443,
 443: 444,
 444: 445,
 445: 446,
 446: 447,
 447: 448,
 448: 449,
 449: 450,
 450: 451,
 451: 452,
 452: 453,
 453: 454,
 454: 455,
 455: 456,
 456: 457,
 457: 458,
 458: 459,
 459: 460,
 460: 461,
 461: 462,
 462: 463,
 463: 464,
 464: 465,
 465: 466,
 466: 467,
 467: 468,
 468: 469,
 469: 470,
 470: 471,
 471: 472,
 472: 473,
 473: 474,
 474: 475,
 475: 476,
 476: 477,
 477: 478,
 478: 479,
 479: 480,
 480: 481,
 481: 482,
 482: 483,
 483: 484,
 484: 485,
 485: 486,
 486: 487,
 487: 488,
 488: 489,
 489: 490,
 490: 491,
 491: 492,
 492: 493,
 493: 494,
 494: 495,
 495: 496,
 496: 497,
 497: 498,
 498: 499,
 499: 500,
 500: 501,
 501: 502,
 502: 503,
 503: 504,
 504: 505,
 505: 506,
 506: 507,
 507: 508,
 508: 509,
 509: 510,
 510: 511,
 511: 512,
 512: 513,
 513: 514,
 514: 515,
 515: 516,
 516: 517,
 517: 518,
 518: 519,
 519: 520,
 520: 521,
 521: 522,
 522: 523,
 523: 524,
 524: 525,
 525: 526,
 526: 527,
 527: 528,
 528: 529,
 529: 530,
 530: 531,
 531: 532,
 532: 533,
 533: 534,
 534: 535,
 535: 536,
 536: 537,
 537: 538,
 538: 539,
 539: 540,
 540: 541,
 541: 542,
 542: 543,
 543: 544,
 544: 545,
 545: 546,
 546: 547,
 547: 548,
 548: 549,
 549: 550,
 550: 551,
 551: 552,
 552: 553,
 553: 554,
 554: 555,
 555: 556,
 556: 557,
 557: 558,
 558: 559,
 559: 560,
 560: 561,
 561: 562,
 562: 563,
 563: 564,
 564: 565,
 565: 566,
 566: 567,
 567: 568,
 568: 569,
 569: 570,
 570: 571,
 571: 572,
 572: 573,
 573: 574,
 574: 575,
 575: 576,
 576: 577,
 577: 578,
 578: 579,
 579: 580,
 580: 581,
 581: 582,
 582: 583,
 583: 584,
 584: 585,
 585: 586,
 586: 587,
 587: 588,
 588: 589,
 589: 590,
 590: 591,
 591: 592,
 592: 593,
 593: 594,
 594: 595,
 595: 596,
 596: 597,
 597: 598,
 598: 599,
 599: 600,
 600: 601,
 601: 602,
 602: 603,
 603: 604,
 604: 605,
 605: 606,
 606: 607,
 607: 608,
 608: 609,
 609: 610,
 610: 611,
 611: 612,
 612: 613,
 613: 614,
 614: 615,
 615: 616,
 616: 617,
 617: 618,
 618: 619,
 619: 620,
 620: 621,
 621: 622,
 622: 623,
 623: 624,
 624: 625,
 625: 626,
 626: 627,
 627: 628,
 628: 629,
 629: 630,
 630: 631,
 631: 632,
 632: 633,
 633: 634,
 634: 635,
 635: 636,
 636: 637,
 637: 638,
 638: 639,
 639: 640,
 640: 641,
 641: 642,
 642: 643,
 643: 644,
 644: 645,
 645: 646,
 646: 647,
 647: 648,
 648: 649,
 649: 650,
 650: 651,
 651: 652,
 652: 653,
 653: 654,
 654: 655,
 655: 656,
 656: 657,
 657: 658,
 658: 659,
 659: 660,
 660: 661,
 661: 662,
 662: 663,
 663: 664,
 664: 665,
 665: 666,
 666: 667,
 667: 668,
 668: 669,
 669: 670,
 670: 671,
 671: 672,
 672: 673,
 673: 674,
 674: 675,
 675: 676,
 676: 677,
 677: 678,
 678: 679,
 679: 680,
 680: 681,
 681: 682,
 682: 683,
 683: 684,
 684: 685,
 685: 686,
 686: 687,
 687: 688,
 688: 689,
 689: 690,
 690: 691,
 691: 692,
 692: 693,
 693: 694,
 694: 695,
 695: 696,
 696: 697,
 697: 698,
 698: 699,
 699: 700,
 700: 701,
 701: 702,
 702: 703,
 703: 704,
 704: 705,
 705: 706,
 706: 707,
 707: 708,
 708: 709,
 709: 710,
 710: 711,
 711: 712,
 712: 713,
 713: 714,
 714: 715,
 715: 716,
 716: 717,
 717: 718,
 718: 719,
 719: 720,
 720: 721,
 721: 722,
 722: 723,
 723: 724,
 724: 725,
 725: 726,
 726: 727,
 727: 728,
 728: 729,
 729: 730,
 730: 731,
 731: 732,
 732: 733,
 733: 734,
 734: 735,
 735: 736,
 736: 737,
 737: 738,
 738: 739,
 739: 740,
 740: 741,
 741: 742,
 742: 743,
 743: 744,
 744: 745,
 745: 746,
 746: 747,
 747: 748,
 748: 749,
 749: 750,
 750: 751,
 751: 752,
 752: 753,
 753: 754,
 754: 755,
 755: 756,
 756: 757,
 757: 758,
 758: 759,
 759: 760,
 760: 761,
 761: 762,
 762: 763,
 763: 764,
 764: 765,
 765: 766,
 766: 767,
 767: 768,
 768: 769,
 769: 770,
 770: 771,
 771: 772,
 772: 773,
 773: 774,
 774: 775,
 775: 776,
 776: 777,
 777: 778,
 778: 779,
 779: 780,
 780: 781,
 781: 782,
 782: 783,
 783: 784,
 784: 785,
 785: 786,
 786: 787,
 787: 788,
 788: 789,
 789: 790,
 790: 791,
 791: 792,
 792: 793,
 793: 794,
 794: 795,
 795: 796,
 796: 797,
 797: 798,
 798: 799,
 799: 800,
 800: 801,
 801: 802,
 802: 803,
 803: 804,
 804: 805,
 805: 806,
 806: 807,
 807: 808,
 808: 809,
 809: 810,
 810: 811,
 811: 812,
 812: 813,
 813: 814,
 814: 815,
 815: 816,
 816: 817,
 817: 818,
 818: 819,
 819: 820,
 820: 821,
 821: 822,
 822: 823,
 823: 824,
 824: 825,
 825: 826,
 826: 827,
 827: 828,
 828: 829,
 829: 830,
 830: 831,
 831: 832,
 832: 833,
 833: 834,
 834: 835,
 835: 836,
 836: 837,
 837: 838,
 838: 839,
 839: 840,
 840: 841,
 841: 842,
 842: 843,
 843: 844,
 844: 845,
 845: 846,
 846: 847,
 847: 848,
 848: 849,
 849: 850,
 850: 851,
 851: 852,
 852: 853,
 853: 854,
 854: 855,
 855: 856,
 856: 857,
 857: 858,
 858: 859,
 859: 860,
 860: 861,
 861: 862,
 862: 863,
 863: 864,
 864: 865,
 865: 866,
 866: 867,
 867: 868,
 868: 869,
 869: 870,
 870: 871,
 871: 872,
 872: 873,
 873: 874,
 874: 875,
 875: 876,
 876: 877,
 877: 878,
 878: 879,
 879: 880,
 880: 881,
 881: 882,
 882: 883,
 883: 884,
 884: 885,
 885: 886,
 886: 887,
 887: 888,
 888: 889,
 889: 890,
 890: 891,
 891: 892,
 892: 893,
 893: 894,
 894: 895,
 895: 896,
 896: 897,
 897: 898,
 898: 899,
 899: 900,
 900: 901,
 901: 902,
 902: 903,
 903: 904,
 904: 905,
 905: 906,
 906: 907,
 907: 908,
 908: 909,
 909: 910,
 910: 911,
 911: 912,
 912: 913,
 913: 914,
 914: 915,
 915: 916,
 916: 917,
 917: 918,
 918: 919,
 919: 920,
 920: 921,
 921: 922,
 922: 923,
 923: 924,
 924: 925,
 925: 926,
 926: 927,
 927: 928,
 928: 929,
 929: 930,
 930: 931,
 931: 932,
 932: 933,
 933: 934,
 934: 935,
 935: 936,
 936: 937,
 937: 938,
 938: 939,
 939: 940,
 940: 941,
 941: 942,
 942: 943}

In [24]:
# this function will return the error between the actual rating and the ratings calculated from P and Q matrices.
    # it is a HELPER function that is calculating the ERROR as we run the Stochastic Gradient Descent. 
    # predicted rating is calculated using the formula: 
    # pow(rui-np.dot(P[u,:],Q[:,i]),2)+ lamda*(pow(norm(P[u,:]),2)+pow(norm(Q[:,i]),2

from numpy.linalg import norm
def error(R,P,Q,reg=0.02):
    '''inputs are R P Q which are the matrices and the output is the sum of the errors. The regularization parameter is the LABMDA in the error formula that we are trying to calculate. R is the original created COO Matrix'''
    ratings = R.data
    rows = R.row
    cols = R.col
    e = 0 
    # go through every rating (for user/item in the range)
    for ui in range(len(ratings)):
        # Save the rating, user code and movie code
        rui=ratings[ui]
        u = rows[ui]
        i = cols[ui]
        # if the rating exists (can only rate between 1 and 5), then calculate the error using the formula
        if rui>0:
            # Find the sum of errors using a dot product (np matrix multiplication)
            e= e + pow(rui-np.dot(P[u,:],Q[:,i]),2)+\
                reg*(pow(norm(P[u,:]),2)+pow(norm(Q[:,i]),2))
    return e

In [25]:
# Function that will calculate P and Q matrices using stochastic gradient descent
def SGD(R, K, reg=0.02, steps=10, lrate=0.001): 
    # Setup the dimensions using the shape of R
    # M - No. of users
    # N - No. of items
    # K - No. of features (F1, F2, F3, F4)
    # Intialise and Fille the P and Q Factor Matrices with random numbers
    M,N = R.shape
    P = np.random.rand(M,K)
    Q = np.random.rand(K,N)
    
    # calculate the initial RMSE with the help of our error function above:
    rmse = np.sqrt(error(R,P,Q,reg)/len(R.data))
    print("Initial RMSE: "+str(rmse))
    
    # complete the specified number of steps for gradient descent or if you reach a particular RMSE of less than 0.5. Feel free to change it here. Here it's ok with a rating error of 0.5. Remember RMSE is in the units of the problem. A rating error within 0.5 is acceptable.
    for step in range(steps):
        # for user and item for every rating
        for ui in range(len(R.data)):
            rui=R.data[ui] # rating for that user / item
            u = R.row[ui] # user
            i = R.col[ui] # item
            if rui>0: # if there is a rating. 
                # update P, Q in the direction of local minima
                eui=rui-np.dot(P[u,:],Q[:,i]) # error in that specific user/item = actual specific rating - the calculated (initially random) P and Q values located at that specific coordinate.
                # updating P and Q using partial derivatives - this is where the magic happens:
                P[u,:]=P[u,:]+lrate*2*(eui*Q[:,i]-reg*P[u,:])
                Q[:,i]=Q[:,i]+lrate*2*(eui*P[u,:]-reg*Q[:,i])
                
        # calculating a new RMSE after updating P and Q.
        rmse = np.sqrt(error(R,P,Q,reg)/len(R.data))
        if rmse<0.5:
            break
    print("Final RMSE: "+ str(rmse))
    return P,Q

In [26]:
# call the SGD to calculate P,Q based on the COO Matrix that we already have (R)
P, Q = SGD(R,K=2,lrate=0.0007,reg=0.01, steps=100)

Initial RMSE: 3.2422772500016097
Final RMSE: 0.9361918827629507

In [27]:
# creating our new rating matrix based off our calculated P and Q fully filled features:
R2 = np.dot(P, Q)

In [28]:
type(R2)
R2.shape
R2[0] # all the calculated ratings for this first user for every potential movie.
R2[:,0] # all the calculated ratings for this first movie for every potential user.

numpy.ndarray

(943, 1118)

array([3.39163576, 3.11629072, 3.70488491, ..., 2.52742516, 3.3427951 ,
       3.06061514])

array([3.39163576, 3.43449169, 2.82834125, 4.09777395, 2.96193322,
       3.06012608, 3.65490859, 3.50231706, 3.70813744, 3.61250917,
       3.20448481, 3.70452631, 3.08203233, 3.45216589, 2.8811322 ,
       3.83305255, 2.69304997, 3.35789001, 3.16997663, 2.89832074,
       2.97534664, 3.39393873, 3.18775831, 3.80313643, 3.39195052,
       2.87360599, 3.10838974, 3.4118204 , 3.38664964, 3.6073196 ,
       3.50150737, 3.13431373, 3.72408671, 4.09152712, 3.22440646,
       3.84062986, 3.45693181, 3.81577017, 3.42059043, 2.69467616,
       3.16243136, 3.29298416, 3.43835781, 3.2884969 , 3.59554183,
       3.65720642, 3.41600386, 3.25582897, 2.51054465, 3.17202703,
       2.95145355, 3.81236587, 3.43345744, 3.60516836, 3.16762889,
       3.44239203, 3.44042097, 3.29254947, 3.5187914 , 3.51392423,
       2.9745815 , 3.04418472, 2.91858993, 3.19213763, 3.39699876,
       3.24917777, 4.02079927, 2.95717864, 3.42812019, 3.203382  ,
       3.01563574, 3.32458319, 3.11838231, 3.29857101, 3.30162831,
       3.11773164, 3.03053475, 3.38528061, 3.59731809, 3.24144402,
       3.19525585, 2.96068163, 3.23873502, 3.60080348, 3.06630772,
       3.39913115, 3.63979506, 3.68456795, 3.6913644 , 3.67053218,
       3.3511363 , 3.19354858, 3.209221  , 3.46134545, 3.217389  ,
       3.47807714, 3.39303126, 3.29279589, 3.44042525, 3.00717084,
       2.99375255, 2.50324446, 3.29302791, 2.60486721, 3.24321612,
       3.26319368, 2.90481385, 3.28393957, 3.2293223 , 3.01131682,
       3.08912006, 3.53311461, 3.60930175, 2.90535361, 3.35911726,
       2.8394871 , 3.79336923, 4.06338275, 3.72076399, 3.32917549,
       3.20535833, 3.42918176, 3.24254108, 2.87979456, 3.30029437,
       3.35056166, 3.92202635, 3.29593988, 2.53541102, 3.96864554,
       3.60993942, 3.228374  , 2.96675859, 3.35551849, 3.20400839,
       3.62617056, 4.2675833 , 3.5542294 , 3.49798358, 3.43701998,
       3.46678652, 3.4050845 , 3.70590329, 3.28136166, 3.42117711,
       3.32276254, 3.80149219, 3.29264342, 2.77229279, 3.52012753,
       3.53329889, 4.01406661, 2.5641328 , 3.37364179, 2.68843097,
       3.03234576, 3.58397562, 3.52534098, 3.63074651, 3.562901  ,
       2.19263431, 3.29889585, 2.86305575, 4.08580251, 3.48440121,
       3.57949641, 3.15661343, 3.31005839, 3.40657735, 3.97693818,
       3.10606578, 2.60333195, 4.15873078, 3.64545929, 3.21254557,
       3.44985192, 3.21967975, 3.4177572 , 2.93845478, 3.5446509 ,
       1.77334865, 3.35088157, 3.02856898, 3.26586595, 3.38896714,
       3.37107724, 3.44711574, 3.33779973, 3.39911897, 3.28222864,
       3.30004515, 3.23912242, 3.1025611 , 2.76594547, 3.24299925,
       3.30427433, 3.15178326, 2.95669942, 3.03905456, 3.81920934,
       2.7942694 , 2.2779827 , 3.28383013, 3.17160626, 2.75032967,
       2.43199559, 2.94152101, 3.29801403, 2.887219  , 3.6055217 ,
       2.90671135, 3.25748391, 3.78047711, 3.24000072, 3.26895426,
       3.45310939, 3.03497244, 3.05077702, 3.41356085, 3.59403256,
       3.41037594, 3.0418078 , 3.06340975, 2.84593222, 3.73238505,
       3.27245266, 3.26130935, 2.82237748, 2.57775652, 3.38021287,
       3.37180276, 3.27682704, 3.70331232, 2.78993411, 3.35809716,
       2.98500087, 3.33060471, 3.16222277, 3.40328604, 3.64477237,
       3.25728892, 3.91731412, 3.23362269, 3.43019756, 3.32844373,
       2.99316359, 3.43012346, 3.06949974, 3.67770248, 3.47244621,
       3.48419065, 3.79434021, 3.45924508, 2.94365587, 2.73450189,
       3.9465968 , 3.5708119 , 3.56937697, 3.47378698, 3.79145162,
       4.26284851, 2.97108543, 3.44746376, 3.77208552, 3.39987141,
       2.84045725, 3.73653554, 2.92347153, 2.6304371 , 4.06935345,
       3.21020687, 3.58986238, 3.29832145, 3.87752816, 2.81701395,
       3.47621917, 3.20665094, 3.63226319, 3.11731692, 3.49275213,
       3.29297267, 3.48110676, 3.80718575, 3.39250828, 3.36937616,
       3.56091854, 3.78441329, 3.31016266, 2.85833613, 3.00589768,
       3.73307014, 3.60569128, 2.86773815, 3.54562953, 3.90341657,
       3.65456229, 3.05919384, 3.49318615, 3.09318673, 4.01541765,
       3.31069451, 2.5562711 , 3.36334345, 3.40824861, 2.88368515,
       3.39981397, 3.35075929, 3.37235975, 3.38730831, 3.6344951 ,
       3.3860184 , 3.68981859, 3.25708659, 3.62430771, 3.31447549,
       2.77096543, 3.61467477, 3.43819154, 3.32102522, 3.66557164,
       3.13676137, 3.49321254, 3.34462127, 4.22699457, 2.99962377,
       2.89943287, 2.89574045, 3.1869528 , 2.9738224 , 4.01931989,
       3.18992999, 4.12976595, 3.29773398, 3.16498593, 3.50463875,
       3.1005271 , 3.74188444, 3.21100957, 3.57100687, 3.44561953,
       4.30139678, 3.06302981, 3.57055025, 3.29893257, 3.41271551,
       3.12797256, 3.3895659 , 4.06466629, 3.22130344, 3.55568438,
       4.09323095, 3.15060386, 3.24171076, 3.10728306, 4.08802425,
       3.35646925, 4.26321337, 3.21608845, 3.69623488, 3.33631202,
       3.27117855, 3.45571671, 2.93269116, 3.61710579, 3.2714355 ,
       4.24904477, 4.0881875 , 3.149477  , 3.73797344, 3.14486169,
       3.47992475, 4.16662197, 3.38473902, 3.16776854, 3.41451883,
       3.19061131, 3.63799868, 3.26073383, 3.58824581, 2.77049426,
       3.42844185, 3.01007984, 3.69416745, 3.93515772, 2.70245416,
       3.52826759, 2.98750926, 4.00418487, 3.33649912, 3.41327722,
       3.23711585, 3.53735781, 3.24260248, 3.72328517, 3.49690966,
       3.52750969, 3.37592737, 3.2234771 , 2.80328843, 3.46416739,
       2.76036171, 3.45277481, 3.59455441, 3.24798327, 1.97591032,
       3.14273391, 3.15955565, 3.57288779, 3.13883791, 2.88734054,
       3.29097045, 3.33678805, 3.34056423, 3.78563822, 3.58990936,
       3.70757482, 3.1678483 , 2.54712874, 3.49530191, 3.43500231,
       3.27006216, 3.31954598, 3.39733682, 3.08430244, 2.81472753,
       3.19035601, 4.44841683, 3.83749182, 3.14239293, 3.07847936,
       3.30509491, 3.56030048, 3.2858182 , 3.7457227 , 3.24489639,
       3.56694537, 3.1848965 , 3.81963464, 3.41661218, 3.87908084,
       3.25222014, 3.01784176, 3.44360731, 3.34073108, 1.90918091,
       2.65917543, 3.33514085, 3.05199085, 3.42295245, 3.61521852,
       2.98990008, 3.05574076, 3.1878058 , 2.55274746, 3.18972237,
       3.12330441, 3.83014216, 3.16169559, 3.27644283, 2.9487956 ,
       2.87153615, 3.81826776, 2.88586147, 3.7388203 , 2.87795854,
       3.16156762, 3.27277933, 3.54728181, 3.73019935, 3.3380063 ,
       3.13558576, 4.19147576, 3.31113649, 3.57659378, 3.13080831,
       3.32899998, 4.43668877, 3.16071215, 3.13029469, 3.02759472,
       3.43254849, 3.20605422, 2.73937111, 3.57556878, 2.9609519 ,
       3.10093652, 3.34883036, 2.8940218 , 3.87020213, 2.58740133,
       3.29349823, 2.89453113, 3.43291924, 3.40076299, 3.75540923,
       2.74245951, 3.1490999 , 2.75603837, 3.23257069, 3.12993107,
       3.58778663, 3.36651844, 3.51724747, 3.44584143, 2.90913012,
       3.41907293, 4.5879026 , 3.29552895, 2.55478415, 3.08383733,
       3.89972205, 3.65767248, 4.13642981, 3.39802708, 2.85924214,
       3.39331424, 3.14640444, 3.68948935, 4.13319965, 3.34456407,
       2.89201611, 3.50264929, 3.9092785 , 3.12047003, 3.17795445,
       3.02393399, 3.24567104, 3.33369397, 3.64452117, 3.37623535,
       3.5666852 , 3.97901022, 3.09736513, 4.19151643, 3.37153445,
       3.4596793 , 2.57762983, 3.0672568 , 3.37524076, 3.52138864,
       3.53151183, 3.15078085, 3.15471235, 2.81121451, 3.31209135,
       3.88253127, 3.46371047, 3.47875301, 3.52817111, 3.75430061,
       3.66928462, 3.0973561 , 3.41753115, 3.25963   , 3.66375928,
       3.64876746, 3.49352857, 3.60819179, 3.10744966, 3.10772029,
       2.66692253, 3.072694  , 3.7027271 , 3.26196829, 3.83823206,
       3.10733285, 3.17980815, 2.75191443, 3.31983541, 2.66821277,
       2.74206128, 3.01039742, 3.10966561, 3.18813129, 2.64180691,
       3.22109962, 3.50818021, 2.54049129, 3.10717524, 3.5556165 ,
       3.45872419, 3.22607929, 3.63300178, 3.25960032, 3.24703138,
       3.13175841, 3.10537999, 3.49050299, 3.43773062, 3.02115544,
       3.16570991, 3.63870028, 3.31013462, 3.02839885, 3.27231432,
       3.40643298, 3.59963582, 3.61816688, 4.10110903, 3.49915865,
       2.87281117, 3.85023734, 3.39518439, 2.9222177 , 3.38966655,
       3.59161287, 3.14820143, 3.19229044, 2.73179699, 3.19567094,
       3.62469843, 3.15478858, 3.65700492, 2.99673338, 3.39647858,
       3.49478626, 2.34632099, 2.93439609, 3.24379556, 3.78959693,
       3.59203899, 3.28117213, 3.19984829, 3.41874927, 2.95497877,
       2.56310812, 3.09207553, 4.31679738, 3.6469186 , 3.17702407,
       3.04186013, 3.20368831, 2.93033565, 3.38337277, 3.20084571,
       4.16212728, 2.38961151, 3.08863608, 2.56566826, 3.90474387,
       3.37260884, 3.64358066, 3.34647309, 3.94211227, 3.35207174,
       2.92681952, 3.39806815, 3.15382553, 3.5491946 , 2.92271364,
       2.99886421, 3.08533603, 2.54307467, 3.31405909, 2.65562604,
       2.39246279, 2.9651609 , 3.17485302, 3.31268537, 2.50444363,
       3.38252252, 3.45013408, 3.33207607, 3.23591226, 3.20340483,
       3.14280208, 3.30173513, 3.31693963, 2.89668   , 3.20503755,
       3.35416704, 3.14543362, 3.46367228, 3.46221763, 3.26763585,
       3.41427857, 3.65535915, 2.96022137, 3.2061072 , 3.46779761,
       3.15661223, 3.06409591, 3.10074534, 3.2828958 , 2.07152496,
       3.77319411, 3.52012614, 5.0109619 , 3.69911445, 2.95957882,
       3.66532794, 3.10399959, 2.74790014, 3.54990925, 3.21878294,
       3.51773284, 3.6894853 , 2.35446854, 3.0354846 , 2.96804536,
       3.61425797, 2.60681618, 3.37741383, 3.13452764, 3.36564109,
       3.17930798, 3.03260241, 3.26952158, 3.36606915, 3.16277938,
       3.52951316, 3.47328977, 2.73110494, 3.38822568, 3.20484168,
       3.44373557, 3.63565149, 3.721024  , 2.80926833, 3.50799513,
       3.41177891, 3.63844969, 2.8249822 , 2.30434435, 3.66607807,
       2.98951467, 3.01923695, 3.3906331 , 2.91174269, 3.02488846,
       2.91483142, 3.72603514, 2.82279321, 3.01745079, 3.11385833,
       2.7897111 , 3.15226532, 3.25820428, 2.92588477, 3.31896022,
       3.19082658, 3.12809452, 3.45887694, 3.22058736, 2.57208131,
       3.11806367, 3.61827174, 3.15191563, 3.37283077, 3.21444601,
       3.19944122, 3.05255955, 2.92770371, 3.22160593, 3.16639739,
       3.03533587, 3.2051355 , 3.56389555, 3.77368298, 3.10318076,
       2.98821569, 2.94977761, 3.30601359, 3.4331282 , 3.29377507,
       2.92917602, 3.68573699, 3.05767545, 3.22793614, 4.04490708,
       3.1820106 , 3.87883715, 2.86189151, 2.01251272, 3.43916945,
       3.23295501, 3.59247986, 2.6818388 , 3.75644995, 3.18229617,
       3.25539652, 2.9586568 , 3.890303  , 3.58737618, 3.16114175,
       3.41037629, 3.17024215, 3.16259718, 3.35582685, 2.9394784 ,
       3.58269375, 3.09258289, 3.39850657, 3.6076313 , 2.9788774 ,
       3.33644733, 2.78859567, 3.20566266, 3.3803074 , 3.55807475,
       4.09804298, 3.47928168, 3.2996493 , 3.46159402, 3.08897351,
       3.27310475, 3.60238275, 3.9709507 , 3.27355438, 4.45093499,
       4.24815206, 3.55500705, 3.05096316, 2.99176819, 3.32483754,
       4.03739817, 3.29876632, 3.29410249, 3.68233009, 2.94353959,
       3.84979929, 2.86008881, 3.5809404 , 2.80524944, 3.65336243,
       3.68575989, 3.02518685, 2.92082844, 3.12275835, 3.32773014,
       3.21799618, 2.93979438, 2.80767318, 3.52804161, 3.56758157,
       3.36835405, 2.97366155, 3.53409795, 3.11071112, 3.45190682,
       3.69816517, 3.44297212, 2.43353075, 3.12378581, 2.69987986,
       3.45839858, 2.79067844, 3.67740656, 4.45510792, 3.68698925,
       3.55076574, 3.5631283 , 3.01058303, 2.86710876, 2.87797449,
       3.2991873 , 3.19534668, 3.1756253 , 3.80312004, 3.03516563,
       3.59106977, 3.91753262, 3.04554641, 3.61322333, 2.27932046,
       2.30960199, 3.63061034, 2.74950443, 2.71888555, 3.04618786,
       3.1607524 , 3.45154125, 2.86770368, 3.29952986, 3.5236661 ,
       3.57731885, 3.45468134, 2.83822697, 3.39403432, 3.45620503,
       3.12083123, 3.7297316 , 3.34105526, 3.23779173, 2.97641731,
       3.1717715 , 3.70239525, 3.80697279, 3.0822998 , 3.40386308,
       3.94718453, 3.60261019, 3.44521241, 3.3330951 , 3.63426133,
       2.88237534, 3.58240003, 3.36653393, 3.13203732, 2.370974  ,
       3.43092759, 2.98079555, 3.45752239, 3.46518821, 3.11613258,
       3.47759732, 4.3003061 , 2.96320838, 4.00310397, 2.87799044,
       3.29482374, 3.13368392, 3.03743886, 2.9549217 , 2.84046601,
       3.13607838, 3.32061318, 2.84871434, 3.33227717, 2.96748192,
       3.07149562, 3.14563572, 4.13785815, 3.1828676 , 3.22917113,
       3.09278698, 3.59675485, 3.99066341, 3.04309423, 2.66043725,
       3.35140422, 3.42534145, 2.54933564, 3.30564721, 3.77348434,
       3.58030524, 3.02382973, 3.36296912, 4.37755572, 3.11952305,
       3.61210415, 3.69484911, 3.32359097])

In [29]:
# now, we can turn this into a dataframe using the previous userItemRatingMatrix index and columns to fill in the indices (user_ids) and columns (movie_ids)

pred_matrix = pd.DataFrame(data=R2,
              index=userItemRatingMatrix.index,    
              columns=userItemRatingMatrix.columns)

In [30]:
pred_matrix.head()

movie_id,2,3,4,5,6,7,8,9,10,11,...,1421,1428,1444,1446,1451,1469,1478,1480,1483,1518
user_id,,,,,,,,,,,,,,,,,,,,,
1,3.391636,3.116291,3.704885,3.311908,3.918145,3.991341,4.138019,4.044701,4.023983,3.936414,...,3.557923,3.826610,2.655136,3.116571,4.002224,3.408106,2.961389,2.527425,3.342795,3.060615
2,3.434492,3.218912,3.692656,3.419828,3.941900,3.951309,4.154675,3.989783,3.995583,3.994103,...,3.593850,3.824780,2.696211,3.217256,4.114823,3.372073,3.041885,2.523368,3.453867,3.081437
3,2.828341,2.696663,2.998135,2.864169,3.227526,3.188356,3.395586,3.208758,3.232952,3.294950,...,2.953028,3.113366,2.225815,2.693892,3.433573,2.719591,2.536257,2.051925,2.894202,2.524655
4,4.097774,3.725933,4.512809,3.960527,4.749853,4.878366,5.021622,4.952473,4.910855,4.751052,...,4.304275,4.654389,3.203275,3.727472,4.797070,4.166661,3.551271,3.075927,3.996134,3.708891
5,2.961933,2.525323,3.418613,2.687389,3.501611,3.766233,3.724264,3.861093,3.759942,3.413038,...,3.135159,3.497434,2.295406,2.531584,3.302786,3.221634,2.452596,2.318846,2.705799,2.728215

In [31]:
def topR(user_id, user_matrix, pred_matrix, N=3):
    '''given a user_ID, sparse user-item-rating matrix, and a predicted matrix with all filled values, it returns the top N number of movie recommendations by movie_id'''
    
    # drop the movies already seen by active user
    moviesAlreadyWatched = user_matrix.loc[user_id].dropna().index
    # get movies for that user id, where the movie ids (columns) are NOT already watched, sort them.
    top_movies = pred_matrix.loc[user_id][~pred_matrix.columns.isin(moviesAlreadyWatched)].sort_values(ascending=False)
#     print('Top Movies with Rating:')
#     print(top_movies.head(N))
#     print()
    # return the top N movie IDs without the rating. Index is the rating.
    return top_movies.index[:N]

**Let's test out the top movies using Collaborative Based Filtering and Latent Factor Analysis and compare these results:***

In [32]:
'Top 5 movies recommended to user 523 using Collaborative Based Filtering with Latent Factor Analysis'
for index in topR(523, userItemRatingMatrix, pred_matrix, 5):
    print("Movie: ", movies.at[index, "movie_title"])

'Top 5 movies recommended to user 523 using Collaborative Based Filtering with Latent Factor Analysis'

Movie:  Paradise Lost: The Child Murders at Robin Hood Hills (1996)
Movie:  While You Were Sleeping (1995)
Movie:  My Fair Lady (1964)
Movie:  Aliens (1986)
Movie:  Meet Me in St. Louis (1944)

## Comparison of Recommendations:

If you recall, the movies recommended to use 523 using User to User Based Collaborative Filtering with Hemming Distance created these 5 movies:

```
Top 5 movies recommended to user 523 using User to User Collaborative Filtering with Hamming Distance

Movie:  Tango Lesson, The (1997)
Movie:  Naked (1993)
Movie:  Once Were Warriors (1994)
Movie:  Supercop (1992)
Movie:  Caught (1996)
```

These 5 movies are not the same. That might be due to the fact that we are looking at 1,118 movies. Let's see out of the top 100 movie recommendations, what percentage of recommendations overlap based on these two types of systems.

In [33]:
def compare_recommendations(user_id, userItemRatingMatrix, pred_matrix, N):
    latent_based = topR(user_id, userItemRatingMatrix, pred_matrix, N)
    user_based = topN(user_id, userItemRatingMatrix, N)
    overlap = np.sum(latent_based.isin(user_based))
    print(f'Overlap: {overlap} / {N}\nPercentage: {round(overlap/N * 100, 2)}%')

In [34]:
compare_recommendations(523, userItemRatingMatrix, pred_matrix, 100)

Overlap: 34 / 100
Percentage: 34.0%

35% accuracy between the two recommendation systems seems a bit low. Let's compare these two recommendation systems to 100 purely random movie choices and see how much higher this 35% overlap in recommendations would be in comparison.

In [35]:
import random

In [38]:
def compare_random(user_id, userItemRatingMatrix, pred_matrix, N):
    latent_based = topR(user_id, userItemRatingMatrix, pred_matrix, N)
    user_based = topN(user_id, userItemRatingMatrix, N)
    
    # setting a random seed for this to be stable across runs
    random.seed(7)
    random_recs = random.sample(set(userItemRatingMatrix.columns), N)

    overlap_lat = np.sum(latent_based.isin(random_recs))
    overlap_user = np.sum(user_based.isin(random_recs))
    
    print(f'Overlap of Latent Based with Random Choices: {overlap_lat} / {N}\nPercentage: {round(overlap_lat/N * 100, 2)}%')
    print(f'Overlap of User Based with Random Choices: {overlap_user} / {N}\nPercentage: {round(overlap_user/N * 100, 2)}%')

In [39]:
compare_random(523, userItemRatingMatrix, pred_matrix, 100)

Overlap of Latent Based with Random Choices: 13 / 100
Percentage: 13.0%
Overlap of User Based with Random Choices: 7 / 100
Percentage: 7.0%

C:\Users\danie\Anaconda3\lib\site-packages\pandas\core\apply.py:242: RuntimeWarning: Mean of empty slice
  labels=labels)

**So, at least there is a method to the madness of these recommendation systems. 35% overlap of recommendations with the systems vs 7-11% overlap of recommendations with random choices.**

Let's test it with a couple more users:

In [40]:
compare_recommendations(524, userItemRatingMatrix, pred_matrix, 100)
compare_random(524, userItemRatingMatrix, pred_matrix, 100)

Overlap: 30 / 100
Percentage: 30.0%
Overlap of Latent Based with Random Choices: 11 / 100
Percentage: 11.0%
Overlap of User Based with Random Choices: 3 / 100
Percentage: 3.0%

In [41]:
compare_recommendations(7, userItemRatingMatrix, pred_matrix, 100)
compare_random(7, userItemRatingMatrix, pred_matrix, 100)

Overlap: 45 / 100
Percentage: 45.0%
Overlap of Latent Based with Random Choices: 9 / 100
Percentage: 9.0%
Overlap of User Based with Random Choices: 4 / 100
Percentage: 4.0%